<!--#$def with (name)

#$if name:
#    I just wanted to say <em>hello</em> to $name.
#$else:
#    <em>Hello</em>, world!
-->


$def with (names)

<table>
    <tr>
        <th>What to do ?</th>
        <th></th>
    </tr>
$for name in names:
    <tr>
        <td>$name</td>
    </tr>    
</table>  

